{% extends "base.html" %}

{% block title %}
    About Us - Daily Report
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
                        <h2 class="card-title text-center mb-4">About Us</h2>
                        <p class="card-text">Welcome to Daily Report, where we aim to simplify the process of daily reporting and task management. Our platform is designed to help individuals and teams efficiently track their daily activities, challenges faced, and tasks completed.</p>
                        <p class="card-text">At Daily Report, we understand the importance of staying organized and productive in today's fast-paced world. Whether you're working on a personal project, managing a team, or collaborating with others, our platform provides the tools you need to stay on track and achieve your goals.</p>
                        <p class="card-text">Our team is dedicated to providing a user-friendly experience and continuously improving our platform based on user feedback. We believe in the power of technology to streamline workflows and enhance productivity, and we're committed to helping our users succeed.</p>
                        <p class="card-text">Join us on our mission to make daily reporting and task management hassle-free. Sign up now and start making the most of your time!</p>
        </div>
    </div>
{% endblock %}
