{% extends "base.html" %}

{% block title %}
    About Us - Daily Report
{% endblock %}

{% block content %}
    <div class="container mx-auto mt-5">
        <div class="flex justify-center">
            <div class="w-full md:w-3/4 lg:w-1/2">
                <h2 class="text-2xl font-bold text-center mb-4">About Us</h2>
                <p class="text-gray-700 mb-4">Welcome to HydraFlow, where we aim to simplify the process of daily reporting and task management. Our platform is designed to help individuals and teams efficiently track their daily activities, challenges faced, and tasks completed.</p>
                <p class="text-gray-700 mb-4">At HydraFlow, we understand the importance of staying organized and productive in today's fast-paced world. Whether you're working on a personal project, managing a team, or collaborating with others, our platform provides the tools you need to stay on track and achieve your goals.</p>
                <p class="text-gray-700 mb-4">Our team is dedicated to providing a user-friendly experience and continuously improving our platform based on user feedback. We believe in the power of technology to streamline workflows and enhance productivity, and we're committed to helping our users succeed.</p>
                <p class="text-gray-700">Join us on our mission to make daily reporting and task management hassle-free. Sign up now and start making the most of your time!</p>
            </div>
        </div>
    </div>
{% endblock %}