{% extends "base.html" %}

{% block title %}
    Home - Daily Report
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Daily Report!</h1>
        <p class="lead">Enter your daily report and manage your tasks easily.</p>
        <hr class="my-4">
        <p>Get started by signing up or logging in.</p>
        <a class="btn btn-primary btn-lg" href="{{url_for('main.register')}}" role="button">Sign Up</a>
        <a class="btn btn-secondary btn-lg" href="{{url_for('main.login')}}" role="button">Log In</a>
    </div>
{% endblock %}
