 {% extends 'base.html' %}
 {% block title %}
    My Reports - Daily Report
{% endblock %}
 {%block content%}
 <h2 class="mt-5">Your Reports</h2>
        <ul class="list-group">
            {% for report in current_user.reports %}
                <li class="list-group-item">
                    <strong>{{ report.date }}:</strong> <br>
                    <strong>Tasks Completed:</strong> {{ report.tasks_completed }} <br>
                    <strong>Challenges Faced:</strong> {{ report.challenges_faced }} <br>
                    <strong>Hours Worked:</strong> {{ report.hours_worked }} <br>
                    <strong>Additional Notes:</strong> {{ report.additional_notes }} <br>
                    <small>Submitted on {{ report.timestamp }}</small>
                </li>
            {% endfor %}
        </ul>

 {%endblock%}
